EULA_ACCEPTED=1
KLNAGENT_AUTOINSTALL=1
KLNAGENT_SERVER={{ kaspersky_server }}
KLNAGENT_PORT={{ kaspersky_port | default('14000') }}
KLNAGENT_SSLPORT={{ kaspersky_sslport | default('13000') }}
KLNAGENT_USESSL={{ kaspersky_usessl | default('1') }}
KLNAGENT_GW_MODE={{ kaspersky_gw_mode | default('2') }}
