*filter

:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

:HARDENING-INPUT -
:HARDENING-OUTPUT -

# INPUT chain

-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INPUT -j HARDENING-INPUT
-A INPUT -j DROP

# OUTPUT chain

-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -m conntrack --ctstate INVALID -j DROP
-A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -j HARDENING-OUTPUT
-A OUTPUT -j DROP

# Hardening input rules

-A HARDENING-INPUT -p icmp -j ACCEPT
{% for rule in iptables_input_rules %}
-A HARDENING-INPUT -p {{ rule.proto }} --dport {{ rule.port }} -j ACCEPT
{% endfor %}
-A HARDENING-INPUT -j RETURN

# Hardening output rules

-A HARDENING-OUTPUT -p icmp -j ACCEPT
{% for rule in iptables_output_rules %}
-A HARDENING-OUTPUT -p {{ rule.proto }} --dport {{ rule.port }} -j ACCEPT
{% endfor %}
-A HARDENING-OUTPUT -j RETURN

COMMIT