machine {{ apt_repo_url }}
login {{ apt_repo_user }}
password {{ apt_repo_password }}

machine {{ apt_security_repo_url }}
login {{ apt_security_repo_user }}
password {{ apt_security_repo_password }}
